@import '../../styles/variables';
.navbar {
  padding: $space-md $space-lg;
  width: 100%;
  background-color: $color-brand-primary-500;
  box-shadow: $shadow-sm;
  &__container {
    max-width: $container-max-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 150px 1fr 350px;
    font-size: $font-size-2xs;
    /* Dos columnas: la primera 1 parte, la segunda 2 */
    grid-template-rows: auto auto;
    /* Dos filas automáticas */
    grid-column-gap: 20px;
    grid-row-gap: 10px;
  }
  &__logo img {
    height: 35px;
  }
  //UBICACION
  &__ubication{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    i{
      width: 15%;
      font-size: $icon-size-md;
    }
    div div:nth-child(1){
      color: $color-neutral-600;
    }
    div div:nth-child(2){
      font-size: $font-size-2xs + 1;
      line-height: $font-size-sm;
    }
  }
  &__sections{
    overflow: hidden;
    height: 36px;
    &__links {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      font-size: $font-size-sm;
      margin: 0 $space-xl;
      column-gap: $space-sm + 16;
      li {
        height: 28px;
        display: flex;
        align-items: flex-end;
        color: $color-neutral-800;
      }
    }
  }
  &__user{
    height: 36px;
    &__sections {
      display: flex;
      align-items: flex-end;
      font-size: $font-size-sm;
      & > *{
        display: flex;
        align-items: flex-end;
        height: 28px;
        flex-grow: 1
      }
    }
    &__account{
      position: relative;
    }
    &__profile{
      position: absolute;
      left: -25px;
      bottom: -1px;
      border-radius: 100%;
      padding: 5%;
      font-size: $font-size-2xs - 1;
      background-color: $color-neutral-50;
    }
    &__icon, &__cart {
      align-items: center;
    }
    &__icon{
      position: relative;
    }
    &__badge-notification{
      position: absolute;
      top:0px;
      right: 18px;
      padding: 0.5px 4px;
      border-radius: $radius-4 + 2;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-neutral-50;
      font-size: $font-size-2xs - 2.5;
      background-color: $color-danger-500;
    }
  }
}