@import '../../assets/styles/variables';

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;
  font-family: $text-font-family;
  overflow-x: hidden;
  position: relative;

  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $color-background-light;
    z-index: -5;
  }

  .hero {
    position: relative;
    color: $color-white;
    display: flex;
    height: 35vh;

    &__slider {
      z-index: -5;
      display: flex;
      width: calc(100vw * 10);
    }

    &__slide {
      height: 60vh;
      width: 100vw;
      flex-shrink: 0;
      background-size: cover;
      background-position: center;
    }

    &__overlay {
      position: absolute;
      z-index: -1;
      background: linear-gradient(to bottom, transparent 30%, $color-background-light 80%);
      width: 100vw;
      height: 30vh;
      bottom: -30vh;
    }
  }

  .card-slider {
    display: flex;
    justify-content: center;

    &__container {
      width: $max-width-container;
      padding: $padding-sm 0;
      position: relative;
    }

    // &__slider {
    //   height: 300px;
    //   display: flex;
    //   flex-direction: row;
    //   gap: 20px;
    //   transition: transform 0.5s ease;
    // }

    // &__card {
    //   scroll-snap-align: start;
    //   background: $color-white;
    //   padding: $padding-md;
    //   border-radius: $radius-lg;
    //   width: 180px;
    //   min-width: 180px;
    //   flex-shrink: 0;
    //   min-height: 100%;
    //   box-shadow: $shadow-md;
    //   text-align: center;
    //   transition: box-shadow 0.3s;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-evenly;

    //   &:nth-child(1) {
    //     margin-left: 10px;
    //   }
    // }

    // &__image {
    //   width: 100px;
    //   height: 100px;
    //   object-fit: contain;
    //   margin-bottom: 0.5rem;
    // }

    // &__title {
    //   font-size: $text-font-size-sm;
    //   margin-bottom: 0.5rem;
    // }

    // &__description {
    //   font-size: $text-font-size-xs;
    // }
  }

  .product-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
      background: $color-white;
      padding: $padding-xl;
      border-radius: $radius-lg;
      box-shadow: $shadow-sm;
      width: 1180px;
      position: relative;
    }

    &__title {
      margin-bottom: 1rem;
      font-size: $text-font-size-lg;
      font-family: $text-font-family;
    }
    &__containerList{
      width: 100%;
      overflow: hidden;
    }
    &__list {
      display: flex;
      gap: 20px;
      height: 300px;
      transition: all 0.5s ease;
      &:hover{
        transform: translateX(-100%);
      }
    }

    &__card {
      background: $color-white;
      min-width: 170px;
      border-radius: $radius-md;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      font-family: $text-font-family;
      font-size: $text-font-size-md;
      font-weight: bold;
      padding: 0px 10px;
    }
    &__images {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto;
      gap: 8px;
    }
    &__image {
      width: 100%;
      height: 44%;
      object-fit: contain;
      
      &--cart{
        width: 100px; // o el tamaño que quieras
        height: auto;
        object-fit: cover;
        border-radius: 6px;
        &:nth-child(1) {
          grid-column: 1 / -1; // ocupa toda la primera fila
          justify-self: center;
          align-self: center;
        }
        &:nth-child(2) {
          grid-column: 1 / 2; // ocupa la mitad izquierda de la segunda fila
        }
        &:nth-child(3) {
          grid-column: 2 / 3; // ocupa la mitad derecha de la segunda fila        
        }
      }
    }
    &__link {
      display: inline-block;
      padding: 6px 12px;
      background-color: #d6e4ff; // azul muy claro
      color: #1a73e8;             // azul de enlace
      font-size: $text-font-size-xs;
      font-weight: 500;
      border-radius: 6px;
      text-decoration: none;
      transition: background-color 0.2s ease, color 0.2s ease;
      text-align: center;        // centra el texto
      white-space: nowrap;
      &:hover {
        background-color: #b3ccff;// un poco más oscuro al pasar el mouse
        color: #0b5ed7;
      }
    }

    &__titleFirst{
      padding-top: 10px;
      font-weight: 700;
      font-size: $text-font-size-sm;
    }

    &__name {
      margin-bottom: $margin-sm;
      font-size: $text-font-size-sm;
      font-weight: 100;
    }

    &__containerPrice{
      display: flex;
      gap:1rem;
      align-items: center;
    }

    &__old-price {
      font-size: 0.85rem;
      color: #999;
      text-decoration: line-through;
    }

    &__price {
      font-size: $text-font-size-lg;
      font-weight: 100;
    }

    &__discount,
    &__cuotas,
    &__envio,
    &__full {
      color: $color-green;
      font-size: 0.8rem;
      white-space: nowrap;
    }

    &__envio{
      font-size: $text-font-size-sm;
      font-weight: 900;
      display: inline-block;
    }
    &__cuotas{
      white-space: wrap;
    }

    .hoy{
      background-color: rgba($color-green,0.1);
      border-radius: $radius-sm;
      display: inline;
      padding: 0 $padding-sm;
    }

    &__full {
      font-weight: bold;
      font-size: 0.75rem;
    }
  }

  .meli-plus {
    display: flex;
    justify-content: center;
    font-family: $text-font-family;

    &__container {
      width: 1180px;
      color: $color-white;
      border-radius: $radius-lg;
      box-shadow: $shadow-sm;
    }

    &__header {
      background: linear-gradient(-90deg, $color-header-purple1 0%, $color-header-purple2 100%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.1rem 1.6rem;
      border-radius: $radius-lg $radius-lg 0 0;

      .meli-plus__suscripcion {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.2rem;
        font-weight: bold;

        img {
          width: 11%;
          display: inline;
        }
      }

      .meli-plus__button {
        background: #c558f3;
        color: $color-white;
        border: none;
        padding: 0.8rem 1.5rem;
        border-radius: $radius-md;
        font-weight: bold;
        cursor: pointer;
        font-size: 0.9rem;
      }
    }

    &__body {
      background: $color-white;
      color: $color-text;
      padding: 1.5rem;
      border-radius: 0 0 $radius-lg $radius-lg;

      .meli-plus__title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }

      .meli-plus__benefits {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style: none;

        .meli-plus__benefit {
          border-radius: $radius-lg;
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 30%;
          text-align: center;
          font-size: 0.9rem;

          p {
            padding: $padding-md;
          }

          .meli-plus__container-i {
            background-color: $color-background-light-purple;
            border-radius: $radius-lg;
            padding: $padding-xl;

            i {
              font-size: $text-font-size-xxl;
              margin-bottom: 0.5rem;
              color: #6c00b9;
            }
          }
        }
      }
    }
  }

  .mercado-play {
    display: flex;
    justify-content: center;

    &__container {
      position: relative;
      border-radius: $radius-lg;
      overflow: hidden;
      width: 1180px;
      height: 400px;
      display: flex;
      justify-content: space-between;
      font-family: $text-font-family;
    }

    &__background {
      height: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
    }

    &__video {
      display: flex;
      align-items: center;
      padding: $padding-xl;
      width: 50%;
      height: 100%;
      object-fit: cover;
      display: inline;
      & video{
        width: 100%;
        height: 100%;
      }
    }

    &__overlay {
      inset: 0;
      padding: $padding-xl;
      padding-left: $padding-xl+$padding-xl;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: $color-white;
      background: linear-gradient(to right, $color-overlay-dark 40%, $color-overlay-light 100%);
      z-index: 2;
      gap: 1rem;
      font-size: $text-font-size-md;
    }

    &__badge {
      height: 70px;
      width: 180px;
    }

    &__title {
      width: 70%;
      font-size: $text-font-size-xxl+5;
      font-weight: bold;
      margin: 0;
    }

    &__label {
      background: $color-green;
      color: $color-white;
      padding: 0.3rem 0.6rem;
      border-radius: $radius-xxl;
      width: fit-content;
      font-weight: 600;
    }

    &__button {
      padding: 0.6rem 1.2rem;
      background:rgba($color: $color-text-grey, $alpha: 0.3);
      color: $color-white;
      border: none;
      border-radius: $radius-sm;
      cursor: pointer;
      font-weight: bold;
      width: fit-content;
    }
  }

  @media (min-width: 768px) and (max-width: 1200px) {
    .card-slider {
      &__container {
        width: 1000px;
      }
    }
  }
}
