@import '../../assets/styles/variables';

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  background: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); // sombra suave
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  transition: background 0.2s ease;
  svg {
    width: 45px;
    height: 45px;
    stroke: #3483fa;
    stroke-width: 1;
  }

  &:hover {
    background: #f0f0f0;
  }

  &--left {
    left: -40px; // fuera del contenedor (ajustá si querés que se superponga)
  }

  &--right {
    right: -40px; // fuera del contenedor (ajustá si querés que se superponga)
  }
}
