@use '../../styles/variables' as *;

.SearchBar{
  display: flex;
  flex: 1;
  margin: 0 $space-xl;
  max-width: 600px;
  box-shadow: $shadow-hairline;
  input {
    flex: 1;
    border-right: none;
    border-radius: $radius-4 0 0 $radius-4;
    font-size: $font-size-input;
    border: none;
    padding: 5px 15px;
    &:focus{
      outline: none;
    }
  }
  &__divider{
    border-left: 1px solid $color-neutral-400;
    height: 18px;
    width: 1%;
    left: 0;
    position: absolute;
    top:26%
  }
  button {
    position: relative;
    padding: 0 $space-lg;
    border: none;
    border-left: none;
    background-color: $color-surface;
    cursor: pointer;
    color: $color-neutral-400;
    border-radius: 0 $radius-4 $radius-4 0;
  }
  &:focus-within {
    border: 0.5px solid $color-focus-ring;
    border-radius: $radius-4;
  }
}